* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.header {
    width: 100%;
    height: 20%;
    background-color: #2D2D2D;
}

    .header--content {
        width: 95%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header--content .logo {
        font-size: 25px;
        font-weight: bold;
        color: #F08C00;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px 0;
        text-transform: uppercase;
    }

        .logo--color {
            color: #88BD00;
        }

        .logo--color--char {
            color:#A8A8A8;
        }

    .navigation {
        display: flex;
        width: 85px;
        justify-content: space-between;
    }
        
        .circle {
            width: 38px;
            height: 38px;
            background-color: #F08C00;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

/*SECTION CONTAINER*/

.container {
    width: 100%;
    height: 93%;
    display: flex;
    flex-direction: row;
}

    .container--content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
}

        .product--width {
            /* width: 1231px; */
            flex-grow: 1;
            /* height: 2663px; */
            background-color:#ECF0F1;
            display: flex;
        }
            .product--content { 
                flex-grow: 1;
                /* width: 95%; */
                padding: 0 50px;
            }

            .product--content-tab {
                height: 20%;
                width: 100%;    
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
              
        
        .product--content-tabs {
            /* border: 0 solid white; */
            height: 44px;
            display: flex;
            background-color: #2D2D2D;
            margin-top: 30px;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
            /* font-weight: 600; */
            /* white-space: nowrap; */
            /* border-top-left-radius: 10px;
            border-bottom-left-radius: 10px; */
            border-radius: 10px;
            overflow: hidden;
        }
            

        .circle-2 {
            width: 30px;
            height: 30px;
            background-color: #F08C00;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
            margin-right: 5px;
        }

        .circle-2 img{
            height: 20px;
            width: 20px;
        }
        

            .product--content-tabs a { 
                padding: 12px;
                border-bottom: 3px solid white;
                color:#B4B4B4;
                background-color: white;
                /* border-bottom-right-radius: 10px; */
                /* border-top-right-radius: 10px; */
               text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
            }

            .product--content-tabs a.active {
                color:#2D2D2D;
                border-bottom: 3px solid #F08C00;
            }


        #button--all-offers {
            border: 3px solid #F08C00;
            height: 25px;
            width: 100px;
            border-radius: 5px;
            color: white;
            background-color: #F08C00;
            margin-top: 30px;
            padding-top: 5px;
            text-align: center;
            text-decoration: none;
        }

    .product-appearance { 
        display: flex;
        flex-direction: row;
        color: #696969;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: center;
    }

        .discount-price { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
        .product-image { 
            display: flex;
            flex-direction: column;
        }

        .product-image img{ 
            width: 90%;
            height: 90%;
        }

        .product-description { 
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .num-pages { 
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: -80px;
            margin-top: 0;
            margin-bottom: 0;
        }

        .num-pages img {
            width: 80px;
            height: 80px;
            
        }

.order--information-width {
    width: 689px;
    max-width: 689px;
    min-width: 660px;
    position: relative;
    /* height: 2663px; */
    background-color: white;
    overflow: auto;
    /* overflow-x: hidden; */
    /* display: flex; */
    
}
    .order--information-content {
        /* width: 85%; */
        /* height: 100%; */
        /* margin: 10px 35px; */
        padding: 40px;
        display: flex;
        flex-direction: column;
    }

        .order--information-header h5 {
            text-transform: uppercase;
            font-size: 15px;
            color: #B4B4B4;
            margin: 20px 0 0 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .order--information-header p {
            font-size: 15px;
            color: #696969;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0 0 15px 0;
        }

        .order--information-header h1 {
            color: #2D2D2D;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
        }
            
.order--information-title {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

    .order-title-icons {
        display: flex;
    }

        .circle-heart {
            width: 25px;
            height: 25px;
            background-color: #F08C00;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
        }

        .circle-heart img {
            width: 12px;
            height: 12px;
        }

        .circle-share {
            width: 25px;
            height: 25px;
            background-color: #F08C00;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .circle-share img {
            width: 12px;
            height: 12px;
        }

        .prices {
            flex-direction: row;
            display: flex;
            align-items: center;

        }
        
        #old-price {
            color: #B4B4B4;
            font-size: 35px;
            text-decoration: line-through #C0392B;
            margin: 0 15px 0 0;
        }

        #new-price {
            color: black;
            font-size: 35px;
            margin: 0 15px 0 0;
        }
        .circle-pricetag {
            width: 30px;
            height: 30px;
            background-color: #88BD00;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .circle-pricetag img {
            width: 15px;
            height: 15px;
        }

        .order--information-header hr {
            color: #B4B4B4;
        }

        .order-info {
            text-transform: uppercase;
            flex-direction: row;
            display: flex;
            justify-content: space-between;
        }

        .form-input { 
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
        }

        .name-surname {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }

        .home-adress { 
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }

        .zipcode-and-city { 
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }

        #order-processing-steps {
            color: #F08C00;
            font-weight: bold;
        }
        #fname {
            border: 1px solid #00000033;
            /* width: 223px; */
            height: 35px;
            border-radius: 3px;
            margin-bottom: 10px;
            width: 50%;
            
        }

        #fname::placeholder {
            padding-left: 10px;
        }
        #lname::placeholder {
            padding-left: 10px;
        }
        #customer-mail::placeholder {
            padding-left: 10px;
        }
        #customer-home-adress::placeholder {
            padding-left: 10px;
        }
        #customer-house-number::placeholder {
            padding-left: 10px;
        }
        #zipcode-and-city::placeholder {
            padding-left: 10px;
        }
        #zip-code::placeholder {
            padding-left: 10px;
        }
        #customer-city::placeholder {
            padding-left: 10px;
        }
        #customer-country-dropdown::placeholder { 
            padding-left: 10px;
        }

        #lname {
            border: 1px solid #00000033;
            /* width: 224px; */
            height: 35px;
            border-radius: 3px;
            margin-bottom: 10px;
            width: 45%;
        }

        #customer-mail {
            border: 1px solid #00000033;
            /* width: 458px; */
            height: 35px;
            margin-bottom: 10px;
            border-radius: 3px;
        }

        #customer-home-adress {
            border: 1px solid #00000033;
           /* width: 349px; */
            height: 35px;
            margin-bottom: 10px;
            border-radius: 3px;
            width: 70%;
        }

        #customer-house-number { 
            border: 1px solid #00000033;
            /* width: 98px; */
            height: 35px;
            margin-bottom: 10px;
            border-radius: 3px;
            width: 25%;
        }

        #zip-code {
            border: 1px solid #00000033;
            /* width: 70px; */
            height: 35px;
            border-radius: 3px;
            margin-bottom: 10px;
            width: 20%;
        }

        #customer-city {
            border: 1px solid #00000033;
            /* width: 377px; */
            border-radius: 3px;
            height: 35px;
            margin-bottom: 10px;
            width: 75%;
        }

        #customer-country {
            border: 1px solid #00000033;
            /* width: 457px; */
            height: 35px;
            margin-bottom: 10px;
            border-radius: 3px;
            width: 100%;
        }

        .customer-country-dropdown {
            display: flex;
            
        }

        input[type=text] {
            color: black;
        }

        .payment-method {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-transform: uppercase;
        }

        .payment-tabs-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .payment-tabs {
            border: 2px solid #00000033;
            color: black;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            /* width: 450px; */
            height: 35px;
            margin-bottom: 10px;
            border-radius: 3px;
            box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
            cursor: pointer;
            padding-top: 15px;
            padding-left: 10px;
        }

        .payment-tabs img {
            float: right;
            margin-right: 10px;
        }
        
        .payment-tabs input {
            float: left;
            margin-right: 10px;
        }

        .sponsors {
            padding-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 30px;
        }

        .terms-conditions {
            padding-top: 50px;
            color: #00000033;
        }

        .terms-conditions a {
            color: black;
        }

        .order-rules {
            display: flex;
            flex-direction: column;
            margin-bottom: 120px;
        }

        .order-rules ol {
            padding-left: 15px;
            display: flex;
            flex-direction: column;
        }

        .order-rules ol li {
            margin-bottom: 20px;
            color: #696969;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
        }

        footer {
            display: flex;
            flex-direction: column;
            border: 1px solid #F8F8F8;
            background-color: #F8F8F8;
            position: fixed;
            bottom: 0;
            width: inherit;
            
        }

        .price-shipping-tax {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
        }

        .price-shipping-tax p {
            margin: 10px;
            color: #696969;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
        }

        .total {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /* margin: 10px; */
            background-color: #88BD00;
            color: white;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }

        .total p { 
            margin-left: 10px;
        }

        .buy-now {
            background-color: #F08C00;
            width: 150px;
            text-align: center;
            /* padding-top: 15px; */
        }

         button {
            
            text-decoration: none;
            background-color: #F08C00;
            color: white;
            font-size: 20px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            padding: 12px 34px;
            border-color:#F08C00;
        }

        #price { 
            color: black;
            font-weight: bold;
        }